body {
  background-color: black;
}

#container {
  color: white;
  font-family: sans-serif;
}


#books {
  display: flex;
  align-items: baseline;
}

.book-images {
  padding-left: 3px;
}

#shelf {
  font-size: 1.5vw;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
  height: 10vh;
  font-weight: lighter;
}

#currently-reading {
  font-size: 0.75vw;
  font-weight: lighter;
}

#reading-book {
  text-decoration: underline;
}
