body {
  background-color: black;
}

#container {
  display: flex;
  justify-content: center;
  color: white;
  font-family: sans-serif;
  display: flex;
  align-items: flex-end;
  width: 100vw;
  justify-content: space-between;
  height: 100vh;
}

#books {
  display: flex;
}

#shelf {
  font-size: 1.5vw;
  /* background-color: red; */
  border-top: 1px solid white;
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
  height: 10vh;
}

#currently-reading {
  font-size: 0.75vw;
  font-weight: lighter;
}

#reading-book {
  text-decoration: underline;
}
